In [77]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.model_selection import train_test_split

In [28]:
data=pd.read_csv('mammographic_masses.data',names=['BI-RADS','Age','Shape','Margin','Density','Severity'],na_values='?')

In [29]:
data.head()

   BI-RADS   Age  Shape  Margin  Density  Severity
0      5.0  67.0    3.0     5.0      3.0         1
1      4.0  43.0    1.0     1.0      NaN         1
2      5.0  58.0    4.0     5.0      3.0         1
3      4.0  28.0    1.0     1.0      3.0         0
4      5.0  74.0    1.0     5.0      NaN         1

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 6 columns):
BI-RADS     959 non-null float64
Age         956 non-null float64
Shape       930 non-null float64
Margin      913 non-null float64
Density     885 non-null float64
Severity    961 non-null int64
dtypes: float64(5), int64(1)
memory usage: 45.1 KB

In [31]:
data=data.dropna(how='any')

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 830 entries, 0 to 960
Data columns (total 6 columns):
BI-RADS     830 non-null float64
Age         830 non-null float64
Shape       830 non-null float64
Margin      830 non-null float64
Density     830 non-null float64
Severity    830 non-null int64
dtypes: float64(5), int64(1)
memory usage: 45.4 KB

In [34]:
data['Severity'].value_counts()

0    427
1    403
Name: Severity, dtype: int64

In [35]:
data['Shape']=data['Shape'].map({1:'round',2:'oval',3:'lobular',4:'irregular'})

In [36]:
data['Margin']=data['Margin'].map({1:'circumscribed',2:'microlobulated',3:'obscured',4:'ill-defined',5:'spiculated'})

In [37]:
data.head()

    BI-RADS   Age      Shape         Margin  Density  Severity
0       5.0  67.0    lobular     spiculated      3.0         1
2       5.0  58.0  irregular     spiculated      3.0         1
3       4.0  28.0      round  circumscribed      3.0         0
8       5.0  57.0      round     spiculated      3.0         1
10      5.0  76.0      round    ill-defined      3.0         1

In [38]:
Y=data['Severity']
X=data.drop(columns=['Severity'])

In [41]:
Y.head()

0     1
2     1
3     0
8     1
10    1
Name: Severity, dtype: int64

In [42]:
X.head()

    BI-RADS   Age      Shape         Margin  Density
0       5.0  67.0    lobular     spiculated      3.0
2       5.0  58.0  irregular     spiculated      3.0
3       4.0  28.0      round  circumscribed      3.0
8       5.0  57.0      round     spiculated      3.0
10      5.0  76.0      round    ill-defined      3.0

In [51]:
getnumeric=FunctionTransformer(lambda x: x[['BI-RADS','Age','Density']],validate=False)

In [52]:
getcategory=FunctionTransformer(lambda x : x[['Shape','Margin']],validate=False)

In [55]:
numeric_pipeline=Pipeline([('select_numeric',getnumeric)])

In [68]:
categorical_pipeline=Pipeline([('select_categorical',getcategory),
                              ('binarize',OneHotEncoder(handle_unknown='ignore',sparse=False))])

In [71]:
categorical_pipeline.fit_transform(X)

array([[0., 1., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 1., 0.]])

In [75]:
final_pipeline=Pipeline([('union',FeatureUnion([('numeric',numeric_pipeline),
                                      ('categorical',categorical_pipeline)])),
                         
                         ('classifier',LogisticRegression)
                        
                        ])

In [80]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [83]:
final_pipeline.fit(X_train, Y_train)

TypeError: fit() missing 1 required positional argument: 'y'